# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter / Colab notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build / distribution files
build/
dist/
*.egg-info/

# Logs
*.log